

.container-fluid{
    background-color: #00456b;
    color: #fff;
}

h1.text-center {
    font-weight: bold;
}
.container-fluid >.row {
    padding: 45px 23rem;
}
.title.text-center{
    font-size: 1.5rem;
    line-height: 1;
    margin: 21px 0 0 0;
}

body > div.container > div > div {
    margin: 30px;
}
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.form-control {
    width: 100%;
    height: 54px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search{
    background-color: #009bdd;
    color: #fff;
    width: 200px;
    border-radius: 50px;
 }

 .goback{
    background-color: #009bdd;
    color: #fff;
    width: 250px;
    border-radius: 50px;
    margin-left: 400px;
 }

 .search-disabled{
    background-color: gray;
    color: #495057;
    width: 250px;
    border-radius: 50px;
    margin-left: 400px;
 }

 
.pay{
    background-color: #009bdd;
    color: #fff;
    border-radius: 50px;
 }
.btn.rounded{
    background-color: #009bdd;
    color: #fff;
 }
.step{
    
    display: inline-block;
    background-color: red;
    background-size: contain !important;
    cursor: pointer;
}


.step-1.gris{
    background: url(../images/Paso-01-Estatico.png);
}
.step-1.azul{
    background: url(../images/Paso-01-Hover.png);
}
.step-2.gris{
    background: url(../images/Paso-02-Estatico.png);
}
.step-2.azul{
    background: url(../images/Paso-02-Hover.png);
}
.step-3.gris{
    background: url(../images/Paso-03-Estatico.png);
}
.step-3.azul{
    background: url(../images/Paso-03-Hover.png);
}
.step-4.gris{
    background: url(../images/Paso-04-Estatico.png);
}
.step-4.azul{
    background: url(../images/Paso-04-Hover.png);
}

.btn-group-justified > .btn-group .btn {
    width: 60%;
    height: 65px;
    background-color: #ff000000;
    margin:0;
    border-radius: 20px;
}
.btn-group-justified>.btn, .btn-group-justified>.btn-group {
    float: none;
    width: 339px;
    height: 31px;
 }
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f500;
    border: 0px solid #f3f3f300;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0;
}


.amount-title{
    background-color: #f1eeef;
    display: block;
    float: right;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.float-right{
    float: right;
}

.loading{
     background: url(../images/loading-trans.gif);
     height: 100px;
     width: 100px;
     margin-left: 435px;
}


.th-data{
    background-color: #fff;
    color: #00456b;
}

select:required:invalid {
    color: gray;
    text-align-last: center; 
  }
option[value=""][disabled] {
    display: none;
    
  }
option {
    color: black;
  }

.mck-box-top {
    background-color: #00456b !important;
}

.margin-bottom{
    margin-bottom: 25px;
}
.tab-paso-1{
    margin-left:0px;
}

.alert-icon{

    background: url(../images/Icono-Alerta.png);
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.user-icon{

    background: url(../images/Icono-Datos-de-Cliente.png);
    max-height: 100%;
    max-width: 100%;
    height: 115px;
    width:  113px;
    float: left;

}

.licit-icon{

    background: url(images/Icono-Datos-de-Licitacion.png);
    max-height: 100%;
    max-width: 100%;
    height: 115px;
    width: 113px;
    float: left;

}
.load-pay{
    background: url(images/loading-trans.gif);
    display: block; 
    height: 123px;
    width: 123px;
    align-content: center;
}

.continue{
    background-color: #009bdd;
    color: #fff;
    width: 250px;
    border-radius: 50px;
    margin-left: 400px;
 }
 .footer{
    height: 50px;
    position:fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: #1f1f1f; 
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px transparent;
    transition: all .5s ease;
  }

  .footer a:first-child {
    border-left: 1px transparent ;
  }
  .footer a:hover {
    color: white;
  }

  .logoavla{
      width: 200px;
      height: 100px;
      position: fixed;
      bottom: 0;
      padding: 3rem;     
  }

  .alert-icon{
    background: url(images/Icono-Alerta.png);
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    height: 200px;
    width: 200px;
}

  .footer-info{
      color: #666; 
  }






